@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700, 900');
@import url('https://fonts.googleapis.com/css?family=Catamaran:900');
@mixin column-count($n){
    -webkit-column-count: $n;
    column-count: $n;
    -webkit-column-gap: 30px;
    column-gap: 30px;
}
@mixin transform($transform) {
    -webkit-transform: $transform;
    -ms-transform: $transform;
    transform: $transform;
}
@mixin positions($top: null, $right: null, $bottom:null, $left:null){
	@if ($top){
		top: $top;
	}
	@if ($right){
		right: $right;
	}
	@if ($bottom){
		bottom: $bottom;
	}
	@if ($left){
		left: $left;
	}
}
@mixin sizes($width: null, $height: null, $max-width:null, $max-height:null){
  @if($width){
    width:$width;
  }
  @if($height){
    height:$height;
  }
  @if($max-width){
    max-width:$max-width;
  }
  @if($max-height){
    max-height:$max-height;
  }
}
$blue: #243C5B;
$green: #9EC848;
$red: #A94b56;
$dGreen: #1b4547;
$Dwhite: rgb(255, 254, 244);
$Dblack: rgba(0,0,0,0.9);

div, a, img{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body, html{
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
    font-family: 'lato', 'sans-serif', 'calibri';
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    color: $Dblack;
    line-height: 1.6;
    @media screen and (max-width: 412px) {
    font-size: 14px;
    }
}
#header{
    width: 95%;
    max-width: 1200px;
    margin:30px auto;
    display:flex;
    position:relative;
    justify-content: space-between;
    #logo{
        width: 30%;
        img{
            width: 80px;
        }
    }
    .menus{
        display:flex;
        justify-content: flex-end;
        align-items: center;
        .menuItem{
            margin: 0 26px;
            font-weight: light;
            color: $blue;
            
            cursor: pointer;
            &.active{
                color: $green;
                font-weight: bold;
            }
            &:hover{
                transition: .3s;
                color: $green;
            }
        }
    }
   
} #nav-icon{
    display:none;
}

@media screen and (max-width: 650px) {
  .menus {
    width: 100%;
    height: 0;
    overflow: hidden;
    background: rgba(255,255,255, .5);
    transition: .5s ease-in-out;
  }
  .menus {
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;

  }
  .menus .menuItem{
      top:0;
    width: 95vw;
    text-align: center;
    height: 30px;

  }
  .menus.open {
    position:absolute;
    height: 100px;
    z-index: 999;
  }
    #nav-icon {
        z-index: 1000;
        margin: 22px 10px 10px;
        display: block;
        position: absolute;
        width: 38px;
        border-radius: 9px;
        opacity: 1;
        right: 0;
        transition: .5s ease-in-out;
        cursor: pointer;
        z-index: 999;
      }
    #nav-icon span {
        display: block;
        position: absolute;
        height: 6px;
        width: 100%;
        background: #9aaeb9;
        border-radius: 3px;
        opacity: .9;
        right: 0;
        transition: .25s ease-in-out;
      }
      #nav-icon span:nth-child(1) {
        top: 0px;
      }
      #nav-icon span:nth-child(2),
      #nav-icon span:nth-child(3) {
        top: 12px;
      }
      #nav-icon span:nth-child(4) {
        top: 24px;
      }
      #nav-icon.open span:nth-child(1) {
        top: 18px;
        width: 0%;
        right: 50%;
      }
      #nav-icon.open span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      #nav-icon.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
      #nav-icon.open span:nth-child(4) {
        top: 18px;
        width: 0%;
        right: 50%;
      }
  }
                
@keyframes draw {
    to{
        stroke-dashoffset: 0;
    }
}
.mainBody{
    width: 100%;
    overflow-x:hidden;
    .main{
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        line-height: 1.6;
        .problemS{
            max-width: 750px;
            margin:16px auto;
            text-align: left;
            padding: 0 2.5%;
            font: {
                size: 20px;
                weight: bold;
            }
            color: $blue;
            @media screen and (max-width: 412px) {
               font-size: 16px;
            }
        }
      p{
          max-width: 750px;
          margin:16px auto;
          width: 95%;
          
      }
    }
    .secTitle{
        width: 100%;
        text-align: center;
        margin:0 auto 30px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font: {
            size: 28px;
            weight: bold;
        }
        @media screen and (max-width: 412px) {
            margin-bottom: 10px;
            font-size: 22px;
        }
    }
    .research{
        display:flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        padding: 120px 5%;
        margin-bottom: 30px;
        @media screen and (max-width: 412px) {
            padding: 60px 5%;
            margin-bottom: 30px;
        }
        p, li{
            line-height: 1.6;
            max-width: 800px;
            margin:16px auto;
        }
       
        
        .secExpla{
            width: 95%;
            max-width: 750px;
            text-align: center;
            margin:0 auto 30px;
            font: {
                size: 18px;
            }
            @media screen and (max-width: 412px) {
                font-size: 14px;
            }
        }
        .centerExpla{
            text-align: left;
            width: 95%;
            max-width: 1000px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            div{
                width: calc(33% - 40px);
                min-width: 290px;
                margin: 30px 20px;
            @media screen and (max-width: 1173px) {
                width: 100%;
                max-width: 750px;
                margin: 30px 20px 10px;
            }
            }
        }
        .expla{
            text-align: left;
            width: 95%;
            max-width: 1000px;
            line-height: 1.6
            div{
                width: 30%;
                margin: 30px 20px
            }
        }
        .method{
            display:flex;
            
            align-items: flex-start;
            align-content: flex-start;
            justify-content: center;
            text-align: left;
            width: auto;
            margin: 30px auto 15px;
            transition: .5s;
            width: 100%;
            @media screen and (max-width: 850px) {
                flex-direction: column
            }
            .iconWrapper{
                display:flex;
                align-items: flex-start;
                width: 50px;
                height: 50px;
                margin: 10px 20px;
                img{
                    width: 100%;
                }
            }
            .iconExpla{
                color: rgb(255, 254, 244);
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                @media screen and (max-width: 850px) {
                width: 330px;
                max-width: 100%;
                align-items: flex-start;
                justify-content: flex-start;
                }
                .title{
                    line-height: 1.5;
                    width: 100px;
                    margin: 10px 20px;
                    font: {
                        weight: bold;
                    }
                    @media screen and (max-width: 850px) {
                        width: 100%
                    }
                }
                .ex{
                    line-height: 1.7;
                    width: 150px;
                    font-size: 14px;
                    margin: 10px 20px;
                    @media screen and (max-width: 412px) {
                        font-size: 12px;
                    }
                }
                .researchEx{
                    width: calc(100% - 420px);
                    max-width: 450px;
                    min-width: 300px;
                    margin: 10px 20px;
                    line-height: 1.6;
                    ul{
                        padding: 0;
                        margin-block-start: 0;
                        li{
                            margin: 0;
                            margin-bottom: 6px;
                        }
                    }
                }
            }
       
            &.new{
                align-items: flex-start;
                @media screen and (max-width: 412px) {
                    flex-direction: column;
                }
                .ox{
                    opacity: .5;
                    width: 80px;
                    margin-right: 20px;
                    height: 80px;
                    @media screen and (max-width: 412px) {
                       position: absolute;
                       right: 5%;
                       margin-right: 0;
                    }
                svg{
                    width: 80px;
                    fill:none;
                    stroke:$green;
                    stroke-width:6;
                    stroke-miterlimit:10;
                    stroke-dasharray: 1000;
                    stroke-dashoffset: 1000;
                    
                    &.xmark{
                        stroke: $red;
                    }
                }
                }
                .iconWrapper{
                    width: 80px;
                    @media screen and (max-width: 412px) {
                        margin-bottom: 20px;
                    }
                }
                .iconExpla{
                    color: $Dblack;
                    @media screen and (max-width: 412px) {
                       justify-content: flex-start;
                    }
                    .title{
                        width: 140px;
                        position: relative;
                        padding-right: 0;
                        color: $blue;
                    }
                    .ex{
                        width: 350px;
                        font-size: 16px;
                        @media screen and (max-width: 412px) {
                            font-size: 12px;
                        }
                        ul{
                            padding: 0;
                            margin-block-start: 0;
                            li{
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
        .methodN{
            display:flex;
            flex-direction: column;
            width: 200px;
            align-items: center;
            text-align: center;
            margin: 0 20px;
            .iconWrapper{
                width: 100px;
                img{
                    width: 100%;
                }
            }
            .iconExpla{
               font: {
                   size: 16px;
                   weight: bold;
               }
                color: $Dwhite;
                margin: 20px 0 0;
                @media screen and (max-width: 850px) {
                    font-size: 14px
                }
            }
           
        }
        .insightWrapper{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            @media screen and (max-width: 1040px){
                width: 600px;
            }
            .insights{
                display:flex;
                position: relative;
                align-items: center;
                width: 200px;
                height: 200px;
                margin:30px;
                border-radius: 300px;
                padding: 30px;
                font-weight: bold;
                color: #fff;
                text-align: center;
                &.fir{
                    background: #a94b56;
                }
                &.sec{
                    background: #97aa96;
                }
                &.thi{
                    background: #78909c
                }
                &.fou{
                    background: #253d5a;
                }
                .keyword{
                    font: {
                    size: 24px;
                    weight: bold;
                    }
                }
                .keyword, .expla{
                    text-shadow: 0 0 4px rgba(0,0,0,0.3);
                    width: 90%;
                    text-align: center;
                    position:absolute;
                    left: 50%;
                    top: 50%;
                    transition: .3s;
                    @include transform(translateX(-50%) translateY(-50%));
                }
                .expla{
                    opacity: 0;
                }
            }
        }
       
        .carousel{
            width: 100%;
            margin: 60px auto;
            text-align: center;
            display:flex;
            flex-direction: column;
            align-items: center;
            @media screen and (max-width: 412px) {
                margin:20px auto;
            }
            img{
                width: 100%;
                max-width: 750px;
               margin-bottom: 30px;
               @media screen and (max-width: 412px) {
                margin-bottom: 10px;
            }
            }
            .dots{
                display: flex;
                .dot{
                    cursor: pointer;
                    width: 15px;
                    height: 15px;
                    border:2px solid #afafaf;
                    border-radius: 9px;
                    margin:10px;
                    &.active{
                        background: #afafaf;
                    }
                }
            }
        }
        .insightN{
            width: 95%;
            max-width: 750px;
            height: 120px;
           display: block;
           position: relative;
           align-items: center;
           justify-content: center;
            color: #fff;
            text-shadow: rgba(0,0,0,0.3);
            border-radius: 16px;
            margin: 30px auto;
            text-align: center;
            .keyword{
                font: {
                size: 24px;
                weight: bold;
                }
                @media screen and (max-width: 412px) {
                   font-size: 18px;
                }
            }
            .keyword, .expla{
                text-shadow: 0 0 4px rgba(0,0,0,0.3);
                width: 90%;
                text-align: center;
                position:absolute;
                left: 50%;
                top: 50%;
                transition: .3s;
                @include transform(translateX(-50%) translateY(-50%));
            }
            .expla{
                opacity: 0;
            }
        }
        &.hypo{
            display:block;
            text-align: center;
            line-height: 1.6;
            width: 90%;
            max-width: 900px;
            border-radius: 160px;
            padding: 50px 100px;
            color: $Dwhite;   
            background: rgba(0,0,0,0.5);
            margin-bottom: 0;
            
            font: {
                size: 32px;
                weight: 500;
            }
            @media screen and (max-width: 850px) {
                font-size: 21px;
                padding: 32px;
            }
            @media screen and (max-width: 412px) {
                font-size: 18px;
                padding: 50px;
            }
        }
        .storyBoard{
            width: 100%;
            display:flex;
            justify-content: center;
            flex-wrap: wrap;
            img{
                width: 30%;
                max-width: 350px;
                height: auto;
                align-self: center;
                object-fit: contain;
                border: 10px solid rgba(255,255,255,.3);
                margin:30px 10px;
                @media screen and (max-width: 835px) {
                    width: 350px;
                }
            }
        }
        .toggleWrapper{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 30px 0;
            .title{
                font: {
                    size: 16px;
                    weight: bold;
                }
                padding:0 20px;
            }
        }
    }
    
.switch {
    position: relative;
    display: inline-block;
    width: 188px;
    height: 60px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $red;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    box-sizing: border-box;
    position: absolute;
    content: "";
    height: 52px;
    width: 100px;
    content:"Team 1";
    left: 4px;
    bottom: 4px;
    background-color: white;
    box-shadow: 0 6px 10px rgba(0,0,0,0.3);
    -webkit-transition: .4s;
    transition: .4s;
    text-align: center;
    padding-top: 16px;
    font: {
        size: 16px;
        weight: bold;
    }
  }
  
  input:checked + .slider {
    background-color: $blue;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px $blue;
  }
  
  input:checked + .slider:before {
    content:"Team 2";
    @include transform( translateX(80px));
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 26px;
  }
    .bgBlue{
        width: 100%;
        max-width: 1500px;
        margin: {
            left: auto;
            right: auto;
        }
        background: $blue;
        p{
            color: #fff;
        }
        .secTitle, .secExpla{
            color: rgb(255, 254, 244);
        }
    }
}
.profileTop{
    overflow: hidden;
    height: 360px;
    width: 100%;
    margin: 0 0 120px;
    position:relative;
    #secTop, #secTop2{
        width: 100%;
        transition: .3s;
        position: absolute;
        left:0;
        top:0;
        transform:translateY(-50%);
        opacity: 0;

    }
    @media screen and (max-width: 768px){
        margin-bottom: 30px;
    }
}
.profiles{
    margin-bottom: 300px;
    .profileWrapper{
        width: 95%;
        max-width: 900px;
        margin: 30px auto 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 1.6;
        .profilePhoto{
            width: 300px;
            max-width: 95%;
            margin:0 40px 0 0;
            
            img{
                width: 100%;
                border-radius: 150px;
            }
        }
       
       
        .profileContent{
            width: calc(100% - 340px);
            .title{
                text-transform: uppercase;
                font: {
                    size: 12px;
                    weight: 900;
                }
            }
            .nameWrap{
                margin-bottom: 15px;
                display: flex;
                align-items: center;
                font: {
                    size: 24px;
                    weight: 300;
                }
                
                .name{
                    margin:0 5px 0 0;
                }
                .icons{
                    width: 24px;
                    position: relative;
                    margin: 0 5px;
                    @include transform(translateY(3px));
                    img{
                        cursor: pointer;
                        width: 100%;
                        
                    }
                }
            }
            .bio{
                font: {
                    size: 16px;
                }
                @media screen and (max-width: 412px) {
                    font-size: 14px;
                }
            }
        }

        @media screen and (max-width: 768px){
            flex-direction: column;
            .profilePhoto{
                margin:0 auto 30px;
            }
            .profileContent{
                width: 95%;
            }
        }
    }
}
.continue{
    text-align: center;
    width: 100%;
    margin-top:60px;
    font: {
        size: 24px;
        weight:bold;
    }
    color: $blue;
}
.carouTop{
    width: 100%;
    display:flex;
    position:relative;
    height: 400px;
    background: #000;
    transition: .3s;
    overflow: hidden;
    img{
        position:absolute;
        transition: .9s;
        animation-timing-function: ease-in-out;
        object-fit: cover;
        width: 100%;
        opacity: 0.7;
        top:50%;
        left: 50%;
        @include transform(translateX(-50%) translateY(-50%));

@media screen and (max-width: 550px) {
    height: 100%;
    width: auto;
}
    }
    .title{
        position: absolute;
        text-align: center;
        width: 100%;
        top: 50%;
        left: 50%;
        color: #fff;
        text-shadow: 0 0 6px rgba(0,0,0,1);
        text-transform: uppercase;
        letter-spacing: 5px;
        @include transform(translateX(-50%) translateY(-50%));
        font: {
            size: 32px;
            weight: 500;
        }
        @media screen and (max-width: 412px) {
            font-size: 24px;
        }
    }
}
.byProto{
    padding: 240px 0;
    background:url(images/retreat/1_light.jpg); background-repeat:no-repeat; 
    background-size: 100%;  
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    background-position: center; 
    @media screen and (max-width: 412px) {
        padding:  0;
    }
}


    .teamviews{
        width: 100%; 
        position:relative; 
        height: 820px; 
        overflow:hidden; 
        margin:0 auto;
        @media screen and (max-width: 835px) {
            height: 850px;
            &.higher{
                height: 990px;
            }
        }
    }
.protoOuterWrapper{
    width: 95%;
    height: 500px;
    position: absolute;
    margin:10px auto;
    top:0; left:50%;
    transition: .3s;
    &#proto1{
        @include transform(translateX(-50%));
    }
    &#proto2{
        @include transform(translateX(calc(100% + 60px)));
    }
}
.protoWrapper{
    width: 95%;
    max-width: 1500px;
    margin:0 auto;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    padding: 60px 30px 90px;
    @media screen and (max-width: 412px) {
       padding: 30px 5% 60px;
    }
    .prototypes{
        width: 100%;
        margin: 0 auto;
        line-height: 1.5;
        .title{
            margin: 0 auto;
            margin-bottom: 16px;
            width: 800px;
            max-width: 95%;
            font: {
                size: 21px;
                weight: bold;
                height: auto;
            }
            @media screen and (max-width: 412px) {
                font-size: 16px;
            }
        }
        p{
            margin: 0 auto;
            width: 800px;
            max-width: 95%;
        }
    }
    .screen{
        display:flex;
        justify-content: center;
        align-items: center;
        .arrowWrap{
            width: 50px;
            height: 70px;
        }
        svg{
            display:none;
            path{
            fill:none;
            stroke-width: 4px;
            stroke: $blue;
            cursor: pointer;
        }        
        @media screen and (max-width: 835px) {
          
            &.visible{
                display: block;
            }
        }
    }
        
        .imgwrapper{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        @media screen and (max-width: 412px) {
            width: 220px;
        }
        img{
            transition: .3s;
            border: 1px solid $blue;
            object-fit: contain;
            display: block;
            width: 200px;
            align-self: center;
            margin: 0 10px 30px;
            @media screen and (max-width: 835px) {
                display: none;
                opacity:0;
                &.visible{
                    display: block;
                    opacity: 1;
                }
            }
           
        }
        &.teamAZ img{
            @media screen and (max-width: 1058px) {
                width: 150px;
            }
            @media screen and (max-width: 835px) {
                width: 200px;
            }
        }
    }}
}
.needWrap{
    width: 100%;
    display:flex; 
    align-items: flex-start;
    justify-content: center;
    margin: 30px auto; 
    @media screen and (max-width: 895px) {
        flex-direction: column;
    }
    .half{
        width: 50%;
        display:flex; 
    align-items: flex-start;
    margin: 30px auto;  
    justify-content: center;
    @media screen and (max-width: 895px) {
        width: 100%;
    }
    }
}
.btn{
    text-align: center;
    width: 200px;
    padding: 10px 24px;
    margin:0 auto;
    letter-spacing: .1px;
    font: {
        size: 15px;
        weight: bold;
    }
    transition: .3s;
    color: $Dwhite;
    background: $green;
    text-shadow: 0 0 4px rgba(0,0,0,0.3);
    box-shadow: 0 6px 8px #9ec848b8;
    border-radius: 32px;
    margin-bottom: 90px;
    &:hover{
        @include transform(translateY(-6px));
        box-shadow: 0 12px 16px #9ec848b8;
    }
}
.list{
    font: {
        size: 40px;
        weight: bold;
        style: italic;
    }
    width: 10px;
    opacity: .4;
    margin: 0  !important;
    padding: 0 !important;
    @media screen and (max-width: 412px) {
    font-size: 30px;
    }
}
.space{
    padding-left: 20px;
    @media screen and (max-width: 412px) {
        padding: 0;
    }
}
.dbColumn{
    display: flex;
   
    p{
        text-align: left;
        @include column-count(2);
        padding:0 16px;
        @media screen and (max-width: 835px) {
            @include column-count(1);
        }
    }
}
.finalD{
    width: 100vw;
    max-width: 1920px;
    overflow-x:scroll;
    overflow-y:hidden;
    img{
        margin:0 auto;
        transition: .3s;
       width: 100%;
        cursor: zoom-in;
        &.zoom{
            transition: .3s;
            height: 1200px;
            width: auto;
            cursor:zoom-out;
        }
    }
}
