@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700, 900");
@import url("https://fonts.googleapis.com/css?family=Catamaran:900");
div, a, img {
  box-sizing: border-box; }

a {
  text-decoration: none; }

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'lato', 'sans-serif', 'calibri';
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
      text-rendering: optimizeLegibility;
  color: rgba(0, 0, 0, 0.9);
  line-height: 1.6; }
  @media screen and (max-width: 412px) {
    body, html {
      font-size: 14px; } }

#header {
  width: 95%;
  max-width: 1200px;
  margin: 30px auto;
  display: flex;
  position: relative;
  justify-content: space-between; }
  #header #logo {
    width: 30%; }
    #header #logo img {
      width: 80px; }
  #header .menus {
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    #header .menus .menuItem {
      margin: 0 26px;
      font-weight: light;
      color: #243C5B;
      cursor: pointer; }
      #header .menus .menuItem.active {
        color: #9EC848;
        font-weight: bold; }
      #header .menus .menuItem:hover {
        transition: .3s;
        color: #9EC848; }

#nav-icon {
  display: none; }

@media screen and (max-width: 650px) {
  .menus {
    width: 100%;
    height: 0;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.5);
    transition: .5s ease-in-out; }

  .menus {
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 0; }

  .menus .menuItem {
    top: 0;
    width: 95vw;
    text-align: center;
    height: 30px; }

  .menus.open {
    position: absolute;
    height: 100px;
    z-index: 999; }

  #nav-icon {
    z-index: 1000;
    margin: 22px 10px 10px;
    display: block;
    position: absolute;
    width: 38px;
    border-radius: 9px;
    opacity: 1;
    right: 0;
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 999; }

  #nav-icon span {
    display: block;
    position: absolute;
    height: 6px;
    width: 100%;
    background: #9aaeb9;
    border-radius: 3px;
    opacity: .9;
    right: 0;
    transition: .25s ease-in-out; }

  #nav-icon span:nth-child(1) {
    top: 0px; }

  #nav-icon span:nth-child(2),
  #nav-icon span:nth-child(3) {
    top: 12px; }

  #nav-icon span:nth-child(4) {
    top: 24px; }

  #nav-icon.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    right: 50%; }

  #nav-icon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg); }

  #nav-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg); }

  #nav-icon.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    right: 50%; } }
@keyframes draw {
  to {
    stroke-dashoffset: 0; } }
.mainBody {
  width: 100%;
  overflow-x: hidden;
  /* Hide default HTML checkbox */
  /* The slider */
  /* Rounded sliders */ }
  .mainBody .main {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    line-height: 1.6; }
    .mainBody .main .problemS {
      max-width: 750px;
      margin: 16px auto;
      text-align: left;
      padding: 0 2.5%;
      font-size: 20px;
      font-weight: bold;
      color: #243C5B; }
      @media screen and (max-width: 412px) {
        .mainBody .main .problemS {
          font-size: 16px; } }
    .mainBody .main p {
      max-width: 750px;
      margin: 16px auto;
      width: 95%; }
  .mainBody .secTitle {
    width: 100%;
    text-align: center;
    margin: 0 auto 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 28px;
    font-weight: bold; }
    @media screen and (max-width: 412px) {
      .mainBody .secTitle {
        margin-bottom: 10px;
        font-size: 22px; } }
  .mainBody .research {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 120px 5%;
    margin-bottom: 30px; }
    @media screen and (max-width: 412px) {
      .mainBody .research {
        padding: 60px 5%;
        margin-bottom: 30px; } }
    .mainBody .research p, .mainBody .research li {
      line-height: 1.6;
      max-width: 800px;
      margin: 16px auto; }
    .mainBody .research .secExpla {
      width: 95%;
      max-width: 750px;
      text-align: center;
      margin: 0 auto 30px;
      font-size: 18px; }
      @media screen and (max-width: 412px) {
        .mainBody .research .secExpla {
          font-size: 14px; } }
    .mainBody .research .centerExpla {
      text-align: left;
      width: 95%;
      max-width: 1000px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
      .mainBody .research .centerExpla div {
        width: calc(33% - 40px);
        min-width: 290px;
        margin: 30px 20px; }
        @media screen and (max-width: 1173px) {
          .mainBody .research .centerExpla div {
            width: 100%;
            max-width: 750px;
            margin: 30px 20px 10px; } }
    .mainBody .research .expla {
      text-align: left;
      width: 95%;
      max-width: 1000px;
      line-height: 1.6 div;
        line-height-width: 30%;
        line-height-margin: 30px 20px; }
    .mainBody .research .method {
      display: flex;
      align-items: flex-start;
      align-content: flex-start;
      justify-content: center;
      text-align: left;
      width: auto;
      margin: 30px auto 15px;
      transition: .5s;
      width: 100%; }
      @media screen and (max-width: 850px) {
        .mainBody .research .method {
          flex-direction: column;
          max-width: 350px; } }
      .mainBody .research .method .iconWrapper {
        display: flex;
        align-items: flex-start;
        width: 50px;
        height: 50px;
        margin: 10px 20px; }
        .mainBody .research .method .iconWrapper img {
          width: 100%; }
      .mainBody .research .method .iconExpla {
        color: #fffef4;
        display: flex;
        flex-wrap: wrap;
        justify-content: center; }
        @media screen and (max-width: 850px) {
          .mainBody .research .method .iconExpla {
            width: 330px;
            max-width: 100%;
            align-items: flex-start;
            justify-content: flex-start; } }
        .mainBody .research .method .iconExpla .title {
          line-height: 1.5;
          width: 100px;
          margin: 10px 20px;
          font-weight: bold; }
          @media screen and (max-width: 850px) {
            .mainBody .research .method .iconExpla .title {
              width: 100%; } }
        .mainBody .research .method .iconExpla .ex {
          line-height: 1.7;
          width: 150px;
          font-size: 14px;
          margin: 10px 20px; }
          @media screen and (max-width: 412px) {
            .mainBody .research .method .iconExpla .ex {
              font-size: 12px; } }
        .mainBody .research .method .iconExpla .researchEx {
          width: calc(100% - 420px);
          max-width: 450px;
          min-width: 300px;
          margin: 10px 20px;
          line-height: 1.6; }
          .mainBody .research .method .iconExpla .researchEx ul {
            padding: 0;
            margin-block-start: 0; }
            .mainBody .research .method .iconExpla .researchEx ul li {
              margin: 0;
              margin-bottom: 6px; }
      .mainBody .research .method.new {
        align-items: flex-start; }
        @media screen and (max-width: 850px) {
          .mainBody .research .method.new {
            flex-direction: row;
            max-width: 100%; } }
        @media screen and (max-width: 612px) {
          .mainBody .research .method.new {
            flex-direction: column; } }
        .mainBody .research .method.new .ox {
          opacity: .5;
          width: 80px;
          margin-right: 20px;
          height: 80px; }
          @media screen and (max-width: 612px) {
            .mainBody .research .method.new .ox {
              position: absolute;
              right: 5%;
              margin-right: 0; } }
          .mainBody .research .method.new .ox svg {
            width: 80px;
            fill: none;
            stroke: #9EC848;
            stroke-width: 6;
            stroke-miterlimit: 10;
            stroke-dasharray: 1000;
            stroke-dashoffset: 1000; }
            .mainBody .research .method.new .ox svg.xmark {
              stroke: #A94b56; }
        .mainBody .research .method.new .iconWrapper {
          width: 80px; }
          @media screen and (max-width: 612px) {
            .mainBody .research .method.new .iconWrapper {
              margin-bottom: 20px; } }
        .mainBody .research .method.new .iconExpla {
          color: rgba(0, 0, 0, 0.9); }
          @media screen and (max-width: 612px) {
            .mainBody .research .method.new .iconExpla {
              justify-content: flex-start; } }
          .mainBody .research .method.new .iconExpla .title {
            width: 140px;
            position: relative;
            padding-right: 0;
            color: #243C5B; }
            @media screen and (max-width: 612px) {
              .mainBody .research .method.new .iconExpla .title {
                width: 100%; } }
          .mainBody .research .method.new .iconExpla .ex {
            width: 350px;
            font-size: 16px; }
            @media screen and (max-width: 412px) {
              .mainBody .research .method.new .iconExpla .ex {
                font-size: 12px; } }
            .mainBody .research .method.new .iconExpla .ex ul {
              padding: 0;
              margin-block-start: 0; }
              .mainBody .research .method.new .iconExpla .ex ul li {
                margin: 0; }
    .mainBody .research .methodN {
      display: flex;
      flex-direction: column;
      width: 200px;
      align-items: center;
      text-align: center;
      margin: 0 20px; }
      .mainBody .research .methodN .iconWrapper {
        width: 100px; }
        .mainBody .research .methodN .iconWrapper img {
          width: 100%; }
      .mainBody .research .methodN .iconExpla {
        font-size: 16px;
        font-weight: bold;
        color: #fffef4;
        margin: 20px 0 0; }
        @media screen and (max-width: 850px) {
          .mainBody .research .methodN .iconExpla {
            font-size: 14px; } }
    .mainBody .research .insightWrapper {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
      @media screen and (max-width: 1040px) {
        .mainBody .research .insightWrapper {
          width: 600px; } }
      .mainBody .research .insightWrapper .innerwrapper {
        width: 520px;
        max-width: 100%;
        flex-wrap: wrap;
        display: flex;
        justify-content: center; }
        @media screen and (max-width: 1180px) {
          .mainBody .research .insightWrapper .innerwrapper {
            width: 100%; } }
      .mainBody .research .insightWrapper .insights {
        display: flex;
        position: relative;
        align-items: center;
        width: 200px;
        height: 200px;
        margin: 30px;
        border-radius: 300px;
        padding: 30px;
        font-weight: bold;
        color: #fff;
        text-align: center; }
        .mainBody .research .insightWrapper .insights.fir {
          background: #a94b56; }
        .mainBody .research .insightWrapper .insights.sec {
          background: #97aa96; }
        .mainBody .research .insightWrapper .insights.thi {
          background: #78909c; }
        .mainBody .research .insightWrapper .insights.fou {
          background: #253d5a; }
        .mainBody .research .insightWrapper .insights .keyword {
          font-size: 24px;
          font-weight: bold; }
        .mainBody .research .insightWrapper .insights .keyword, .mainBody .research .insightWrapper .insights .expla {
          text-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
          width: 90%;
          text-align: center;
          position: absolute;
          left: 50%;
          top: 50%;
          transition: .3s;
          -webkit-transform: translateX(-50%) translateY(-50%);
          -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%); }
        .mainBody .research .insightWrapper .insights .expla {
          opacity: 0; }
    .mainBody .research .carousel {
      width: 100%;
      margin: 36px auto 20px;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center; }
      @media screen and (max-width: 412px) {
        .mainBody .research .carousel {
          margin: 20px auto; } }
      .mainBody .research .carousel img {
        width: 100%;
        max-width: 750px;
        margin-bottom: 30px; }
        @media screen and (max-width: 412px) {
          .mainBody .research .carousel img {
            margin-bottom: 10px; } }
      .mainBody .research .carousel .dots {
        display: flex; }
        .mainBody .research .carousel .dots .dot {
          cursor: pointer;
          width: 15px;
          height: 15px;
          border: 2px solid #afafaf;
          border-radius: 9px;
          margin: 10px; }
          .mainBody .research .carousel .dots .dot.active {
            background: #afafaf; }
    .mainBody .research .insightN {
      width: 95%;
      max-width: 750px;
      height: 120px;
      display: block;
      position: relative;
      align-items: center;
      justify-content: center;
      color: #fff;
      text-shadow: rgba(0, 0, 0, 0.3);
      border-radius: 16px;
      margin: 30px auto;
      text-align: center; }
      .mainBody .research .insightN .keyword {
        font-size: 24px;
        font-weight: bold; }
        @media screen and (max-width: 412px) {
          .mainBody .research .insightN .keyword {
            font-size: 18px; } }
      .mainBody .research .insightN .keyword, .mainBody .research .insightN .expla {
        text-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
        width: 90%;
        text-align: center;
        position: absolute;
        left: 50%;
        top: 50%;
        transition: .3s;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%); }
      .mainBody .research .insightN .expla {
        opacity: 0; }
    .mainBody .research.hypo {
      display: block;
      text-align: center;
      line-height: 1.6;
      width: 90%;
      max-width: 900px;
      border-radius: 160px;
      padding: 50px 100px;
      color: #fffef4;
      background: rgba(0, 0, 0, 0.5);
      margin-bottom: 0;
      font-size: 32px;
      font-weight: 500; }
      @media screen and (max-width: 850px) {
        .mainBody .research.hypo {
          font-size: 21px;
          padding: 32px; } }
      @media screen and (max-width: 412px) {
        .mainBody .research.hypo {
          font-size: 18px;
          padding: 50px; } }
    .mainBody .research .storyBoard {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap; }
      .mainBody .research .storyBoard img {
        width: 30%;
        max-width: 350px;
        height: auto;
        align-self: center;
        object-fit: contain;
        border: 10px solid rgba(255, 255, 255, 0.3);
        margin: 30px 10px; }
        @media screen and (max-width: 835px) {
          .mainBody .research .storyBoard img {
            width: 350px; } }
    .mainBody .research .toggleWrapper {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 30px 0; }
      .mainBody .research .toggleWrapper .title {
        font-size: 16px;
        font-weight: bold;
        padding: 0 20px; }
  .mainBody .switch {
    position: relative;
    display: inline-block;
    width: 188px;
    height: 60px; }
  .mainBody .switch input {
    opacity: 0;
    width: 0;
    height: 0; }
  .mainBody .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #A94b56;
    -webkit-transition: .4s;
    transition: .4s; }
  .mainBody .slider:before {
    box-sizing: border-box;
    position: absolute;
    content: "";
    height: 52px;
    width: 100px;
    content: "Team 1";
    left: 4px;
    bottom: 4px;
    background-color: white;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
    -webkit-transition: .4s;
    transition: .4s;
    text-align: center;
    padding-top: 16px;
    font-size: 16px;
    font-weight: bold; }
  .mainBody input:checked + .slider {
    background-color: #243C5B; }
  .mainBody input:focus + .slider {
    box-shadow: 0 0 1px #243C5B; }
  .mainBody input:checked + .slider:before {
    content: "Team 2";
    -webkit-transform: translateX(80px);
    -ms-transform: translateX(80px);
    transform: translateX(80px); }
  .mainBody .slider.round {
    border-radius: 34px; }
  .mainBody .slider.round:before {
    border-radius: 26px; }
  .mainBody .bgBlue {
    width: 100%;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    background: #243C5B; }
    .mainBody .bgBlue p {
      color: #fff; }
    .mainBody .bgBlue .secTitle, .mainBody .bgBlue .secExpla {
      color: #fffef4; }

.profileTop {
  overflow: hidden;
  height: 360px;
  width: 100%;
  margin: 0 0 120px;
  position: relative; }
  .profileTop #secTop, .profileTop #secTop2 {
    width: 100%;
    transition: .3s;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-50%);
    opacity: 0; }
  @media screen and (max-width: 768px) {
    .profileTop {
      margin-bottom: 30px; } }

.profiles {
  margin-bottom: 180px; }
  .profiles .profileWrapper {
    width: 95%;
    max-width: 900px;
    margin: 30px auto 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.6; }
    .profiles .profileWrapper .profilePhoto {
      width: 300px;
      max-width: 95%;
      margin: 0 40px 0 0; }
      .profiles .profileWrapper .profilePhoto img {
        width: 100%;
        border-radius: 150px; }
    .profiles .profileWrapper .profileContent {
      width: calc(100% - 340px); }
      .profiles .profileWrapper .profileContent .title {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 900; }
      .profiles .profileWrapper .profileContent .nameWrap {
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        font-size: 24px;
        font-weight: 300; }
        .profiles .profileWrapper .profileContent .nameWrap .name {
          margin: 0 5px 0 0; }
        .profiles .profileWrapper .profileContent .nameWrap .icons {
          width: 24px;
          position: relative;
          margin: 0 5px;
          -webkit-transform: translateY(3px);
          -ms-transform: translateY(3px);
          transform: translateY(3px); }
          .profiles .profileWrapper .profileContent .nameWrap .icons img {
            cursor: pointer;
            width: 100%; }
      .profiles .profileWrapper .profileContent .bio {
        font-size: 16px; }
        @media screen and (max-width: 412px) {
          .profiles .profileWrapper .profileContent .bio {
            font-size: 14px; } }
    @media screen and (max-width: 768px) {
      .profiles .profileWrapper {
        flex-direction: column; }
        .profiles .profileWrapper .profilePhoto {
          margin: 0 auto 30px; }
        .profiles .profileWrapper .profileContent {
          width: 95%; } }

.continue {
  text-align: center;
  width: 100%;
  margin-top: 60px;
  font-size: 24px;
  font-weight: bold;
  color: #243C5B; }

.carouTop {
  width: 100%;
  display: flex;
  position: relative;
  height: 400px;
  background: #000;
  transition: .3s;
  overflow: hidden; }
  .carouTop img {
    position: absolute;
    transition: .9s;
    animation-timing-function: ease-in-out;
    object-fit: cover;
    width: 100%;
    opacity: 0.7;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }
    @media screen and (max-width: 550px) {
      .carouTop img {
        height: 100%;
        width: auto; } }
  .carouTop .title {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    left: 50%;
    color: #fff;
    text-shadow: 0 0 6px black;
    text-transform: uppercase;
    letter-spacing: 5px;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 32px;
    font-weight: 500; }
    @media screen and (max-width: 412px) {
      .carouTop .title {
        font-size: 24px; } }

.byProto {
  padding: 240px 0;
  background: url(images/retreat/1_light.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  background-position: center; }
  @media screen and (max-width: 412px) {
    .byProto {
      padding: 0; } }

.teamviews {
  width: 100%;
  position: relative;
  height: 820px;
  overflow: hidden;
  margin: 0 auto; }
  @media screen and (max-width: 835px) {
    .teamviews {
      height: 850px; }
      .teamviews.higher {
        height: 990px; } }

.protoOuterWrapper {
  width: 95%;
  height: 500px;
  position: absolute;
  margin: 10px auto;
  top: 0;
  left: 50%;
  transition: .3s; }
  .protoOuterWrapper#proto1 {
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
  .protoOuterWrapper#proto2 {
    -webkit-transform: translateX(calc(100% + 60px));
    -ms-transform: translateX(calc(100% + 60px));
    transform: translateX(calc(100% + 60px)); }

.protoWrapper {
  width: 95%;
  max-width: 1500px;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 60px 30px 90px; }
  @media screen and (max-width: 412px) {
    .protoWrapper {
      padding: 30px 5% 60px; } }
  .protoWrapper .prototypes {
    width: 100%;
    margin: 0 auto;
    line-height: 1.5; }
    .protoWrapper .prototypes .title {
      margin: 0 auto;
      margin-bottom: 16px;
      width: 800px;
      max-width: 95%;
      font-size: 21px;
      font-weight: bold;
      font-height: auto; }
      @media screen and (max-width: 412px) {
        .protoWrapper .prototypes .title {
          font-size: 16px; } }
    .protoWrapper .prototypes p {
      margin: 0 auto;
      width: 800px;
      max-width: 95%; }
  .protoWrapper .screen {
    display: flex;
    justify-content: center;
    align-items: center; }
    .protoWrapper .screen .arrowWrap {
      width: 50px;
      height: 70px; }
    .protoWrapper .screen svg {
      display: none; }
      .protoWrapper .screen svg path {
        fill: none;
        stroke-width: 4px;
        stroke: #243C5B;
        cursor: pointer; }
      @media screen and (max-width: 910px) {
        .protoWrapper .screen svg.visible {
          display: block; } }
    .protoWrapper .screen .imgwrapper {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap; }
      @media screen and (max-width: 412px) {
        .protoWrapper .screen .imgwrapper {
          width: 220px; } }
      .protoWrapper .screen .imgwrapper img {
        transition: .3s;
        border: 1px solid #243C5B;
        object-fit: contain;
        display: block;
        width: 200px;
        align-self: center;
        margin: 0 10px 30px; }
        @media screen and (max-width: 910px) {
          .protoWrapper .screen .imgwrapper img {
            display: none;
            opacity: 0; }
            .protoWrapper .screen .imgwrapper img.visible {
              display: block;
              opacity: 1; } }
      @media screen and (max-width: 1058px) {
        .protoWrapper .screen .imgwrapper.teamAZ img {
          width: 150px; } }
      @media screen and (max-width: 910px) {
        .protoWrapper .screen .imgwrapper.teamAZ img {
          width: 200px; } }

.needWrap {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 30px auto; }
  @media screen and (max-width: 895px) {
    .needWrap {
      flex-direction: column; } }
  .needWrap .half {
    width: 50%;
    display: flex;
    align-items: flex-start;
    margin: 30px auto;
    justify-content: center; }
    @media screen and (max-width: 895px) {
      .needWrap .half {
        width: 100%; } }

.btn {
  text-align: center;
  width: 200px;
  padding: 10px 24px;
  margin: 0 auto;
  letter-spacing: .1px;
  font-size: 15px;
  font-weight: bold;
  transition: .3s;
  color: #fffef4;
  background: #9EC848;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 6px 8px #9ec848b8;
  border-radius: 32px;
  margin-bottom: 90px; }
  .btn:hover {
    -webkit-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
    box-shadow: 0 12px 16px #9ec848b8; }

.list {
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
  width: 10px;
  opacity: .4;
  margin: 0  !important;
  padding: 0 !important; }
  @media screen and (max-width: 412px) {
    .list {
      font-size: 30px; } }

.space {
  padding-left: 20px; }
  @media screen and (max-width: 412px) {
    .space {
      padding: 0; } }

.dbColumn {
  display: flex; }
  .dbColumn p {
    text-align: left;
    -webkit-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 30px;
    column-gap: 30px;
    padding: 0 16px; }
    @media screen and (max-width: 835px) {
      .dbColumn p {
        -webkit-column-count: 1;
        column-count: 1;
        -webkit-column-gap: 30px;
        column-gap: 30px; } }

.finalD {
  width: 100vw;
  max-width: 1920px;
  overflow-x: scroll;
  overflow-y: hidden; }
  .finalD img {
    margin: 0 auto;
    transition: .3s;
    width: 100%;
    cursor: zoom-in; }
    .finalD img.zoom {
      transition: .3s;
      height: 1200px;
      width: auto;
      cursor: zoom-out; }

/*# sourceMappingURL=index.css.map */
